<div class="card text-white bg-success " style="width: 30%;">
  <div class="card-header">
    Friend Information
  </div>
  <div class="card-body">
    <div id="<%= dom_id friend %>">
      <p>
        <strong>First name:</strong>
        <%= friend.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= friend.last_name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= friend.email %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= friend.phone %>
      </p>

      <p>
        <strong>Twitter:</strong>
        <%= friend.twitter %>
      </p>
    </div>
  </div>
</div>
